.debug_12 {
  background-image: url(/images/grid960/12_col.gif);
}

.debug_16 {
  background-image: url(/images/grid960/16_col.gif);
}

.debug_24 {
  background-image: url(/images/grid960/24_col.gif);
}
