<ifModule mod_headers.c>
   Header add Cache-Control "no-cache"
   Header add Pragma "no-cache"
   Header add Expires "Expires: Tue, 01 Jan 2000 00:00:01 GMT"
</ifModule>
<ifModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^([0-9a-zA-Z_]+)/([0-9a-zA-Z_\/\.]+)\.js$ js.php?app=$1&js=$2 [L,QSA]
</ifModule>
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
