* {
padding: 0px;
margin: 0px;
}

body {
font: 80.5% "Trebuchet MS", sans-serif;
cursor:default;
}

table {
border-collapse: collapse;
}

table tr th {
padding: 1px 10px;
}

table tr td {
border: 1px solid #aaa;
padding: 2px;
}

/* jqueyr ui stuff */
.demoHeaders { margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

#header {
width: 800px;
text-align: center;
margin: 0px auto;
height: 90px;
padding: 5px;
padding-bottom: 0px;
}

#header h1 {
font-family: 'Slackey', 'Arial';
font-size: 58px;
position: relative;
top: -20px;
display: inline-block;
}

#header img {
   height: 90px;
}

#wrapper {
width: 800px;
margin: 0px auto;
height: 601px;
border-top: 1px solid #2955a6;
border-left: 1px solid #2955a6;
}

#main {
position: absolute;
}

#sidenav {
width: 200px;
height: 600px;
border-bottom: 1px solid #2955a6;
border-right: 1px solid #2955a6;
background: #b9d1ff;
}

.item {
width: 170px;
height: 20px;
margin: 0px 10px;
padding: 15px 5px;
border-bottom: 1px solid #9fc1ff;
border-top: 1px solid #ddf;
text-align: center;
}

.app {
color: #000;
}

.item.prev, .item.last {
border-bottom: none;
}

.item.next {
border-top: none;
}

.app:hover {
color: #000;
}

.app.active {
position: relative;
left: -20px;
width: 200px;
height: 22px;
border: 1px solid #2955a6;
border-right: none;
background: white;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-topleft: 5px;
padding-top: 16px;
padding-bottom: 14px;
padding-left: 9px;
padding-right: 1px;
}

#content {
position: absolute;
top: 20px;
left: 200px;
width: 600px;
text-align: center;
padding: 5px 20px;
}

#login {
position: relative;
top: 15%;
margin: 0px auto;
width: 370px;
height: 300px;
text-align: center;
}

#login-title {
width: 300px;
margin: 10px auto 0px auto;
padding: 10px;
text-align: left;
}

#login-title span {
font-size: 2em;
}

#login-error {
color: red;
font-size: small;
float: right;
}

#login input {
border: 1px solid #999;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
height: 30px;
}

#login input[type="text"],
#login input[type="password"] {
width: 300px;
}

#login-btn {
width: 300px;
text-align: center;
margin: 20px auto;
}

#login-btn input {
width: 100px;
}

#login input[type="button"] {
width: 100px;
}

#login label {
margin: 10px auto;
width: 300px;
display: block;
text-align: left;
font-size: 1.2em;
}

.modal {
background-color: rgba(0, 0, 0, 0.5);
width: 100%;
height: 100%;
z-index: 100;
position: absolute;
top: 0px;
left: 0px;
display: none;
}

.content-modal {
top: -20px;
width: 599px;
height: 600px;
border-bottom: 1px solid #2955a6;
border-right: 1px solid #2955a6;
}

.awesome {
border: 3px solid #2955a6;
background: white;
}

.close-button {
height: 30px;
width: 30px;
background-image: url('/images/close-button.png');
float: right;
}

.basic-ajax {
position: absolute;
top: 100px;
left: 150px;
width: 300px;
min-height: 150px;
padding: 5px;
}

.console-mesg {
border: 1px solid #999;
border-top-width: 0px;
background-color: #eee;
width: 80%;
text-align: left;
margin: 0px auto;
padding: 2px;
}

.console-error {
font-weight: bold;
color: red;
}

.console-title {
font-weight: bold;
color: blue;
}

.console-mesg-close {
float: right;
font-weight: bold;
font-family: "Courier";
}

.console-mesg-close:hover {
color: #aaa;
}
