@variables {
font-face: Orbitron;
background-image: /images/home/bg-dark.png;
background-color: #333333;
title-color: #ff6600;
second-color: #dd7500;
third-color: #000000;
text-color: #ffffff;
main-border-color: black;
table-border-color: black;
th-bg-color: #222;
th-text-color: #ff6600;
sidenav-item-color: #666666;
sidenav-item-hover: #ffffff;
sidenav-item-active-bg: #333333;
sidenav-item-active: #ff6600;
mobile-sidenav-bg: #111111;
mobile-sidenav-border: #777777;
mobile-sidenav-border-color: #ff6600;
footer-border-color: #555555;
link-color: #ff6600;
link-visited: #aa5500;
link-hover: #ffaa00;
alert-error-color: #ffffff;
alert-error-bg: #cc0000;
alert-error-border: #770000;
alert-warning-color: #000000;
alert-warning-bg: #cccc00;
alert-warning-border: #777700;
alert-message-color: #ffffff;
alert-message-bg: #3355cc;
alert-message-border: #223377;
}
