@variables {
font-face: Orbitron;
background-image: /images/home/bg-light.png;
background-color: #ffffff;
title-color: #ff6600;
second-color: #dd7500;
third-color: #000000;
text-color: #000000;
main-border-color: #999999;
table-border-color: #b9c9fe;
th-bg-color: #e8edff;
th-text-color: #001f6b;
sidenav-bg-color: #b9c9fe;
sidenav-item-color: #000000;
sidenav-item-hover: #ffffff;
sidenav-item-active-bg: #ffffff;
sidenav-item-active: #ff6600;
mobile-sidenav-main-color: #b9d1ff;
mobile-sidenav-second-color: #cceeff;
mobile-sidenav-border-color: #ff6600;
footer-border-color: #999999;
link-color: default;
link-visited: default;
link-hover: default;
alert-error-color: #ffffff;
alert-error-bg: #cc0000;
alert-error-border: #770000;
alert-warning-color: #000000;
alert-warning-bg: #cccc00;
alert-warning-border: #777700;
alert-message-color: #ffffff;
alert-message-bg: #3355cc;
alert-message-border: #223377;
}
