@include home/var.css;
@include grid960/960_12_col.css;
@include grid960/debug.css;

@font-face {
font-family: 'Orbitron';
font-style: normal;
font-weight: normal;
src: local('Orbitron'), url('/css/fonts/Orbitron.woff') format('woff');
}

* {
padding: 0px;
margin: 0px;
}

html {
height: 100%;
}

body {
font: 80.5% "Trebuchet MS", sans-serif;
cursor:default;
color: var(text-color);
height: 100%;
background-color: var(background-color);
}

h1 {
font-family: 'var(font-face)', 'Arial';
font-size: 58px;
color: var(title-color);
}

h2 {
display: block;
color: var(second-color);
}

h3 {
color: var(third-color);
text-transform: uppercase;
}

table {
border-collapse: collapse;
border: 1px solid var(table-border-color);
}

table tr th {
padding: 5px 10px;
border-bottom: 1px solid var(table-border-color);
background-color: var(th-bg-color);
color: var(th-text-color);
font-weight: bold;
}

table tr td {
padding: 4px 10px;
background-color: var(background-color);
border-bottom: 1px dotted var(table-border-color);
color: var(text-color);
}

table tr td input {
border: 1px solid var(main-border-color);
padding: 2px;
}

a {
color: var(link-color);
}

a:visited {
color: var(link-visited);
}

a:hover {
color: var(link-hover);
}

#main {
}

#sidenav-grid {
height: 100%;
}

#sidenav {
min-height: 700px;
padding: 30px;
background: var(sidenav-bg-color);
border-bottom-right-radius: 50px;
border-top-left-radius: 50px;
}

#header {
height: 90px;
padding-bottom: 0px;
text-align: center;
}

#header h1 {
padding-top: 15px;
text-shadow: 2px 3px 5px #555;
display: inline-block;
}

#header h1 span.h1x {
font-size: 70px;
}

#header h1 span.h1u {
}

#header img {
height: 70px;
width: 72px;
display: inline-block;
}

#content-grid {
}

#content {
padding: 15px 20px;
border-top: 2px solid var(sidenav-bg-color);
}

#content h2 {
font-size: 32px;
}

#footer {
border-top: 1px solid var(footer-border-color);
background: var(footer-bg-color);
padding: 5px 15px;
}

#alerts {
font-family: "Courier New";
font-weight: bold;
}

#alerts .title {
font-size: medium;
text-transform: uppercase;
font-weight: bold;
}

.alert {
width: 550px;
padding: 3px;
z-index: 10;
border-width: 2px;
border-style: solid;
}

#alerts .error extends .alert {
color: var(alert-error-color);
background-color: var(alert-error-bg);
border-color: var(alert-error-border);
}

#alerts .warning extends .alert {
color: var(alert-warning-color);
background-color: var(alert-warning-bg);
border-color: var(alert-warning-border);
}

#alerts .message extends .alert {
color: var(alert-message-color);
background-color: var(alert-message-bg);
border-color: var(alert-message-border);
}
