@include home/var.css;

@font-face {
font-family: 'Orbitron';
font-style: normal;
font-weight: normal;
src: local('Orbitron'), url('/css/fonts/Orbitron.woff') format('woff');
}

* {
padding: 0px;
margin: 0px;
}

html {
height: 100%;
}

body {
font: 80.5% "Trebuchet MS", sans-serif;
cursor:default;
background: var(background-color) url(var(background-image)) repeat-y left top;
color: var(text-color);
height: 100%;
}

h1 {
font-family: 'var(font-face)', 'Arial';
font-size: 58px;
color: var(title-color);
}

h2 {
display: block;
color: var(second-color);
}

h3 {
color: var(third-color);
text-transform: uppercase;
}

table {
border-collapse: collapse;
border: 1px solid var(table-border-color);
}

table tr th {
padding: 5px 10px;
border-bottom: 1px solid var(table-border-color);
background-color: var(th-bg-color);
color: var(th-text-color);
font-weight: bold;
}

table tr td {
padding: 4px 10px;
background-color: var(background-color);
border-bottom: 1px dotted var(table-border-color);
color: var(text-color);
}

table tr td input {
border: 1px solid var(main-border-color);
padding: 2px;
}

a {
color: var(link-color);
}

a:visited {
color: var(link-visited);
}

a:hover {
color: var(link-hover);
}

#main {
width: 900px;
height: 90%;
}

#sidenav {
width: 200px;
padding-left: 100px;
padding-top: 100px;
height: 93%;
float: left;
}

#header {
width: 550px;
height: 90px;
padding: 15px;
padding-bottom: 0px;
float: left;
}

#header h1 {
padding-top: 20px;
float: left;
}

#header img {
height: 90px;
width: 95px;
display: inline-block;
float: left;
}

#content {
width: 550px;
padding: 15px 20px;
float: left;
}

#content h2 {
font-size: 32px;
}

#footer {
width: 100%;
float: left;
}

#footer-content {
border-top: 1px solid var(footer-border-color);
padding: 5px 20px;
margin-left: 300px;
}

#alerts {
font-family: "Courier New";
font-weight: bold;
}

#alerts div {
width: 550px;
position: relative;
padding: 3px;
z-index: 10;
border-width: 0px 2px 2px 2px;
border-style: solid;
}

#alerts .title {
font-size: medium;
text-transform: uppercase;
font-weight: bold;
}

#alerts .error {
color: var(alert-error-color);
background-color: var(alert-error-bg);
border-color: var(alert-error-border);
}

#alerts .warning {
color: var(alert-warning-color);
background-color: var(alert-warning-bg);
border-color: var(alert-warning-border);
}

#alerts .message {
color: var(alert-message-color);
background-color: var(alert-message-bg);
border-color: var(alert-message-border);
}
