@include home/light.css;

@font-face {
font-family: 'Orbitron';
font-style: normal;
font-weight: normal;
src: local('Orbitron'), url('/css/fonts/Orbitron.woff') format('woff');
}

* {
padding: 0px;
margin: 0px;
}

html {
}

body {
font: 150% "Trebuchet MS", sans-serif;
cursor:default;
background: var(background-color);
color: var(text-color);
}

h1 {
font-family: 'Orbitron', 'Arial';
font-size: 48px;
color: var(title-color);
}

h2 {
display: block;
color: var(second-color);
}

h3 {
color: var(third-color);
text-transform: uppercase;
}

table {
border-collapse: collapse;
border: 1px solid var(table-border-color);
}

table tr th {
padding: 5px 10px;
border-bottom: 1px solid var(table-border-color);
background-color: var(th-bg-color);
color: var(th-text-color);
font-weight: bold;
}

table tr td {
padding: 4px 10px;
background-color: var(background-color);
border-bottom: 1px dotted var(table-border-color);
color: var(text-color);
}

table tr td input {
border: 1px solid var(main-border-color);
padding: 2px;
}

a {
color: var(link-color);
}

a:visited {
color: var(link-visited);
}

a:hover {
color: var(link-hover);
}

#sidenav {
background: var(mobile-sidenav-main-color);
border: 3px solid var(mobile-sidenav-border-color);
border-width: 3px 0px;
padding: 0px 10px;
margin: 0px;
}

#header {
padding: 15px;
padding-bottom: 0px;
}

#header h1 {
display: inline-block;
padding-top: 20px;
position: relative;
top: -20px;
}

#header img {
display: none;
}

#content {
padding: 15px 20px;
}

#content h2 {
font-size: 32px;
}

#footer {
border-top: 1px solid var(footer-border-color);
}


a.item {
text-decoration: none;
display: inline-block;
min-width: 120px;
height: 25px;
padding: 20px 5px;
margin: 2px;
color: var(sidenav-item-color);
font-family: 'var(font-face)';
text-align: center;
border: 1px solid var(mobile-sidenav-border-color);
background: var(mobile-sidenav-second-color);
}

.menu-title {
height: 10px;
padding: 10px 5px;
margin: 0px;
font-family: 'var(font-face)';
color: var(title-color);
display: none; /* maybe? */
}

a.item:hover {
color: var(sidenav-item-hover);
}

a.item.active {
background: var(sidenav-item-active-bg);
color: var(sidenav-item-active);
font-weight: bold;
}

#alerts {
font-family: "Courier New";
font-weight: bold;
}

#alerts div {
width: 550px;
position: relative;
padding: 3px;
z-index: 10;
border-width: 0px 2px 2px 2px;
border-style: solid;
}

#alerts .title {
font-size: medium;
text-transform: uppercase;
font-weight: bold;
}

#alerts .error {
color: var(alert-error-color);
background-color: var(alert-error-bg);
border-color: var(alert-error-border);
}

#alerts .warning {
color: var(alert-warning-color);
background-color: var(alert-warning-bg);
border-color: var(alert-warning-border);
}

#alerts .message {
color: var(alert-message-color);
background-color: var(alert-message-bg);
border-color: var(alert-message-border);
}
