@include home/var.css;

.menu-title {
display: none;
}

a.item {
text-decoration: none;
display: inline-block;
min-width: 120px;
height: 25px;
padding: 20px 5px;
margin: 2px;
color: var(sidenav-item-color);
font-family: 'var(font-face)';
text-align: center;
border: 1px solid var(mobile-sidenav-border-color);
background: var(mobile-sidenav-second-color);
}

a.item:hover {
color: var(sidenav-item-hover);
}

a.item.active {
background: var(sidenav-item-active-bg);
color: var(sidenav-item-active);
font-weight: bold;
}
